@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
        background-color: #d1d1d1;

  }
}

/* remove default browser styles */
input[type="range"].temp-slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

/* TRACK */
input[type="range"].temp-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #d9d9d9; /* light gray */
  border-radius: 9999px;
}

input[type="range"].temp-slider::-moz-range-track {
  height: 6px;
  background: #d9d9d9;
  border-radius: 9999px;
}

/* THUMB */
input[type="range"].temp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 25px;
  background: white;
  border-radius: 9999px;       /* pill shape */
  border: 2px solid black;     /* black outline */
  margin-top: -6px;            /* center on track */
  box-shadow: 0px 3px 0px rgba(0,0,0,0.3); /* little shadow */
  cursor: pointer;
}

input[type="range"].temp-slider::-moz-range-thumb {
  height: 22px;
  width: 36px;
  background: white;
  border-radius: 9999px;
  border: 2px solid black;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.3);
}


